<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-flash"></span> <a href="{{ currentLaunchUrl }}">Launch game for fun</a>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->